* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-content {
  padding-top: 80px; /* Adjust this based on the actual height of the navbar */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%;
  padding-left: 15%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

.navbar {
  font-size: 18px;
}

.navbar a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  border-right: 2px solid black;
  padding-right: 20px;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  color: lightgray;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .header.show-navbar .navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: slateblue;
    padding: 10px 0;
  }

  .navbar a {
    margin: 10px 0;
    text-align: center;
    border: none;
  }
}
